*

!.gitignore
!README.md
!.tmux.conf
!.config/
!.config/shortcut_scripts/
!.config/shortcut_scripts/**
.config/shortcut_scripts/add_script
!.config/kglobalshortcutsrc
!.config/nvim/
!.config/nvim/init.lua
!.config/zathura/
!.config/zathura/zathurarc
!.config/fish/
!.config/fish/fish_variables

